@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.vh-100{
  height: vh100;
}

.ul-side-nav{
  list-style: none;
}

.h-2rem{
  height: 2rem;
}

.of-scroll{
  overflow: scroll;
}

.w-2rem{
  width: 2rem;
}

.po-re{
  position: relative;
}

.po-ab{
  position: absolute;
}

.h-100pc{
  height: 100%;
}

.w-100pc{
  width: 100%;
}

.bt-0{
  bottom: 0;
}

.width-inherit{
  width: inherit;
}

.h-4rem {
  height: 4rem;
}

.display-flex{
  display: flex;
}

.align-item-cent{
  align-items: center;
}
.font-w-700 {
  font-weight: 700;
}

.sidebar-bg{
  background-color: #f0f0f0;
}

.a-decor-none{
  text-decoration: none !important;
}