*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vh-100{
  height: vh100;
}

.ul-side-nav{
  list-style: none;
}

.h-2rem{
  height: 2rem;
}

.of-scroll{
  overflow: scroll;
}

.w-2rem{
  width: 2rem;
}

.po-re{
  position: relative;
}

.po-ab{
  position: absolute;
}

.h-100pc{
  height: 100%;
}

.w-100pc{
  width: 100%;
}

.bt-0{
  bottom: 0;
}

.width-inherit{
  width: inherit;
}